@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
:root {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .input-text-field {
    @apply border-[1px] border-[#999999] w-[400px] h-[35px] px-2 text-sm rounded-md focus:outline-[#555555];
  }
}